<template>
  <section class="au-animate overview">

    <div class="overview-charts-energy">
      <div class="title">
        <i class="fa fa-bolt" aria-hidden="true"></i>
        Strom
      </div>
      <div class="${data.moodEnergy}">
        ${data.trendEnergy}%
        <i class="${data.iconEnergy}" aria-hidden="true"></i>
      </div>
      <canvas id="energyChart" width="320" height="320"></canvas>
      <table class="overview-table">
        <tr class="overview-table-row">
          <td class="icon"><i class="fa fa-user" aria-hidden="true"></i></td>
          <td class="text">Dein aktueller Verbrauch</td>
          <td class="zahl">${data.actualEnergy} kWh</td>
        </tr>
        <tr class="overview-table-row">
          <td class="icon"><i class="fa fa-history" aria-hidden="true"></i></td>
          <td class="text">Dein Stromverbrauch vor einem Jahr</td>
          <td class="zahl">${data.historyEnergy} kWh</td>
        </tr>
        <tr class="overview-table-row">
          <td class="icon">ø</td>
          <td class="text">Durchschnittsverbrauch im schweizer Haushalt</td>
          <td class="zahl">${data.averageEnergy} kWh</td>
        </tr>
      </table>
    </div>

    <div class="overview-charts-heat">
      <div class="title">
        <i class="fa fa-fire" aria-hidden="true"></i>
        Wärme
      </div>
      <div class="${data.moodHeat}">
        ${data.trendHeat}%
        <i class="${data.iconHeat}" aria-hidden="true"></i>
      </div>
      <canvas id="heatChart" width="320" height="320"></canvas>
      <table class="overview-table">
          <tr class="overview-table-row">
            <td class="icon"><i class="fa fa-user" aria-hidden="true"></i></td>
            <td class="text">Dein aktueller Verbrauch</td>
            <td class="zahl">${data.actualHeat} kWh</td>
          </tr>
          <tr class="overview-table-row">
            <td><i class="fa fa-history" aria-hidden="true"></i></td>
            <td class="text">Dein Wärmeverbrauch vor einem Jahr</td>
            <td class="zahl">${data.historyHeat} kWh</td>
          </tr>
          <tr class="overview-table-row">
            <td class="icon">ø</td>
            <td class="text">Durchschnittsverbrauch im schweizer Haushalt</td>
            <td class="zahl">${data.averageHeat} kWh</td>
          </tr>
        </table>
    </div>

    <div class="overview-charts-water">
      <div class="title">
        <i class="fa fa-tint" aria-hidden="true"></i>
        Wasser
      </div>
      <div class="${data.moodWater}">
        ${data.trendWater}%
        <i class="${data.iconWater}" aria-hidden="true"></i>
      </div>
      <canvas id="waterChart" width="320" height="320"></canvas>
      <table class="overview-table">
          <tr class="overview-table-row">
            <td class="icon"><i class="fa fa-user" aria-hidden="true"></i></td>
            <td class="text">Dein aktueller Verbrauch</td>
            <td class="zahl">${data.actualWater} l</td>
          </tr>
          <tr class="overview-table-row">
            <td class="icon"><i class="fa fa-history" aria-hidden="true"></i></td>
            <td class="text">Dein Wasserverbrauch vor einem Jahr</td>
            <td class="zahl">${data.historyWater} l</td>
          </tr>
          <tr class="overview-table-row">
            <td class="icon">ø</td>
            <td class="text">Durchschnittsverbrauch im schweizer Haushalt</td>
            <td class="zahl">${data.averageWater} l</td>
          </tr>
        </table>
    </div>

  </section>
</template>
