body {
  margin: 0;
}
section.overview {
  display: flex;
  justify-content: space-around;
  
  div.overview_charts{
    width: 320px; 
    height: 320px; 
    display:flex; 
    flex-direction: column;
    align-items: center;
    float:left;

    div.title_energy,
    div.title_heat,
    div.title_water{
      font-family: 'Arial';
      font-size: 36px;
      font-weight: bold;
    }

    div.title_energy {
      color: $oc-yellow-5;
    }

    div.title_heat {
      color: $oc-red-5;
    }

    div.title_water {
      color: $oc-blue-5;
    }

    div.smile_bad,
    div.smile_neutral,
    div.smile_good {
      font-size: 24px;
      font-weight: bold;
    }

    div.smile_bad {
      color: $oc-red-7;
    }

    div.smile_neutral {
      color: $oc-yellow-7;
    }

    div.smile_good {
      color: $oc-green-7;
    }
  }
}
