html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px !important;
}

body > router-view > .container {
  padding: 60px 15px 0;
}

section {
  margin: 0 !important;
}

.clickable {
  cursor: pointer;
}

.bg-yellow {
  background: yellow;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}
@media (orientation: landscape) {
  .only-portrait {
    display: none;
  }
}
@media (orientation: portrait) {
  .only-landscape {
    display: none;
  }
}

[data-toggle=tooltip] {
  cursor: pointer;
}
