html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px !important;
}

body > router-view > .container {
  padding: 60px 15px 0;
}

section {
  margin: 0 !important;
}

.clickable {
  cursor: pointer;
}

.bg-yellow {
  background: yellow;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}
@media (orientation: landscape) {
  .only-portrait {
    display: none;
  }
}
@media (orientation: portrait) {
  .only-landscape {
    display: none;
  }
}

[data-toggle=tooltip] {
  cursor: pointer;
}

.not-supported-content {
  display: block;
  margin-top: 45px;
}

.main-content {
  display: none;
}
@media (min-width: 992px) and (orientation: landscape) {
  .main-content {
    display: block;
  }

  .not-supported-content {
    display: none;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  .main-content {
    display: block;
  }

  .not-supported-content {
    display: none;
  }
}
