section.detail-section {
  padding-top: 60px;
}

div.box {
  padding-top: 90px;
  padding-bottom: 120px;

  .nav {
    margin-bottom: 25px;
    text-align: center;
    border-color: $oc-gray-3;

    li {
      width: 30%;
      display: inline-block;
      text-align: center;
      float: none;

      a {
        font-weight: 600;
        color: $oc-gray-7;
        background: $oc-gray-3;
      }

      &.active a {
        color: $oc-yellow-7;
        background: white;
        border-top-color: $oc-gray-3;
        border-left-color: $oc-gray-3;
        border-right-color: $oc-gray-3;
      }
    }
  }
}

div.box-gray-light {
  background-color: $oc-gray-0;
}

div.box-gray-dark {
  background-color: $oc-gray-7;
  color: $oc-gray-1;
}

div.box-title {
  padding-bottom: 30px;
}

.btn.btn-default {
  background: $oc-gray-7;
  color: white;
  border-radius: 2em;
  font-weight: 600;
  padding: 8px 16px;
}

div.costs {
  h1.green {
    color: $oc-green-7;
  }

  h1.red {
    color: $oc-red-7;
  }

  table {
    .icon,
    .text,
    .zahl {
      line-height: 2.2em;
      vertical-align: middle;
    }

    .text {
      font-size: 1.2em;
    }

    .zahl {
      font-size: 2.0em;
      text-align: right;
    }

    .icon {
      font-size: 1.8em;
    }

    tr:first-child td {
      border-top: none;
    }

    td.green {
      color: $oc-green-7;
    }

    td.red {
      color: $oc-red-7;
    }
  }
}

div.tipps {
  table.tipp-table {
    tr.tipp-table-row {
      .icon,
      td.text,
      td.title {
        padding: 8px;
      }

      .icon {
        width: 15%;
        text-align: center;
        font-size: 60px;
        color: $oc-gray-7;
        vertical-align: top;
      }

      td.title {
        font-size: 1.6em;
        font-weight: 600;
      }

      td.text {
        padding: 8px;
      }

      td.button {
        padding: 8px;
      }
    }
  }
}

div.compare {
  i {
    font-size: 60px;
  }

  h2 {
    padding-bottom: 15px;
  }

  p {
    color: $oc-gray-3;
  }

}

p.description {
  margin-bottom: 40px;
}

div.doc {
  border: 1px solid $oc-gray-5;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 25px;

  i {
    font-size: 48px;
    padding-bottom: 15px;
  }

  span {
    font-weight: 600;
  }
}
