div.footer {
  height: 60px;
  line-height: 40px;
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $oc-gray-2;
  font-size: 12px;
  color: $oc-gray-5;

  a {
    color: $oc-gray-7;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }

  a:active,
  a:focus,
  a:hover {
    color: $oc-gray-5;
  }

  .social {
    font-size: 20px;
    a {
      i {
        padding-left: 20px;
      }
    }
  }
}
