nav.navbar {
  .wrapper {
    display: flex;
    background-color: $oc-gray-1;

    .item {
      display: flex;
      padding: 15px;
    }

    .back {
      width: 240px;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      a,
      i {
        font-size: 24px;
        text-align: center;
        color: $oc-gray-5;
      }

      a {
        text-decoration: none;
        padding-left: 15px;
        padding-right: 15px;

        &:hover,
        &:hover i {
          text-decoration: none;
          color: $oc-gray-4;
        }
      }
    }

    .logo {
      width: 240px;
      justify-content: flex-start;
      align-items: center;

      a,
      i {
        display: block;
        font-size: 24px;
        text-align: center;
        color: $oc-gray-5;
      }

      a {
        text-decoration: none;
        padding-left: 15px;
        padding-right: 15px;

        &:hover,
        &:hover i {
          text-decoration: none;
          color: $oc-gray-4;
        }
      }

    }

    .navigation {
      flex: 1;
      justify-content: center;
      align-items: center;

      .paragraph {
        margin: 0;

        div {
          display: inline-block;
        }

        .dropdown {
          margin: auto 10px;
        }

        .dropdown > a {
          display: inline-block;
          color: $oc-gray-7;
          font-size: 24px;
          border-bottom: 3px solid $oc-gray-7;
          text-decoration: none !important;

          &.energy {
            color: $oc-yellow-7;
          }

          &.heat {
            color: $oc-red-7;
          }

          &.water {
            color: $oc-blue-7;
          }
        }

        a[role=menuitem] {
          font-size: 22px;

          i {
            width: 20px;
            text-align: left;
          }

          &.energy {
            color: $oc-yellow-7;
          }

          &.heat {
            color: $oc-red-7;
          }

          &.water {
            color: $oc-blue-7;
          }
        }

        span {
          color: $oc-gray-5;
          font-size: 24px;
        }
      }
    }

    .actions {
      width: 240px;
      justify-content: flex-end;
      align-items: center;

      ul {
        li {
          a,
          i {
            display: block;
            font-size: 36px;
            text-align: center;
            color: $oc-gray-5;
          }

          a {
            text-decoration: none;
            padding: 0 30px;

            &:hover,
            &:hover i {
              text-decoration: none;
              color: $oc-gray-4;
            }
          }

        }
      }
    }
  }

}
