nav.navbar {
  a.navbar-brand {
    text-align: center;
    padding: 20px 15px !important;

    a,
    i {
      display: block;
      font-size: 24px;
    }

  }

  display: flex;
  flex-direction: row;

  div.logo,
  div.menu,
  div.user {
    display: flex;
    justify-content: center;
  }

  div.logo,
  div.user {
    width: 10vw;
  }

  div.menu {
    flex: 1;
  }

  div.user a.navbar-brand {
    padding: 30px 15px !important;

    i {
      font-size: 30px;
    }
  }

  li.energy,
  li.heat,
  li.water {
    font-size: 24px;

    a {
      border-radius: 7px;
      padding: 10px 15px !important;
      margin: 20px;
    }
  }

  li.energy {
    a {
      color: $oc-yellow-5;
    }

    a:active,
    a:focus,
    a:hover {
      color: $oc-yellow-7;
    }
  }

  li.heat {
    a {
      color: $oc-red-5;
    }

    a:active,
    a:focus,
    a:hover {
      color: $oc-red-7;
    }
  }

  li.water {
    a {
      color: $oc-blue-5;
    }

    a:active,
    a:focus,
    a:hover {
      color: $oc-blue-7;
    }
  }

  li.active {
    &.energy a,
    &.energy a:hover,
    &.energy a:active,
    &.energy a:focus {
      background-color: $oc-yellow-7;
      color: white;
    }

    &.heat a,
    &.heat a:hover,
    &.heat a:active,
    &.heat a:focus {
      background-color: $oc-red-7;
      color: white;
    }

    &.water a,
    &.water a:hover,
    &.water a:active,
    &.water a:focus {
      background-color: $oc-blue-7;
      color: white;
    }
  }
}
