section.overview {
  @media (min-width: 1024px) {
    div.power-panel {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  div.wrapper {}
  @media (min-width: 1440px) {
    div.wrapper {
      width: 1440px;
      margin: auto;
    }
  }

  .blue h1, .blue .zahl {
    color: $oc-blue-7;
  }

  .red h1, .red .zahl {
    color: $oc-red-7;
  }

  .yellow h1, .yellow .zahl {
    color: $oc-yellow-7;
  }

  .smile-bad,
  .smile-good,
  .smile-neutral {
    font-weight: bold;
  }

  .smile-bad {
    color: $oc-red-7;
  }

  .smile-neutral {
    color: $oc-yellow-7;
  }

  .smile-good {
    color: $oc-green-7;
  }

  table.overview-table {
    color: $oc-gray-5;
    border-collapse: collapse;

    tr.overview-table-row {
      border-bottom: 1px solid $oc-gray-2;

      td {
        padding: 10px 5px;
      }

      td.icon {
        text-align: center;
        font-size: 1.4em;
        // display: none;
      }

      // @media (min-width: 1024px) {
      //   td.icon {
      //     display: table-cell;
      //   }
      // }

      td.text {
        flex-wrap: wrap;
      }

      td.zahl {
        white-space: nowrap;
        text-align: right;
        width: 40%;
        min-width: 80px;
      }
    }

    tr.overview-table-row:last-child {
      border-bottom: none;
    }

  }
}
